*{
    margin: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    text-align: center;
}

header p{
    margin-top: 20px;
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: salmon;
}

main p{
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

footer p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: black;
    border: none;
    border-radius: 19px;
    cursor: pointer;

}

.boton a{
    display: block;
    text-decoration: none;
    color: inherit;
}


section{
    display: flex;
    justify-content: center;
    background-color: chartreuse;
}